.gas_widget {
	display: inline-flex;
	align-items: center;
	gap: var(--space-2);
}

.gas_value {
	color: var(--color-accent-700);
	font-size: 1.125rem;
	font-weight: 500;
	line-height: 1.5rem;
}

.loader {
	border-radius: var(--space-2) !important;
}
