.swap_widget {
	display: flex;
	flex-direction: column;
	max-width: 394px;
	width: 100%;
	border-radius: var(--space-5);
	align-items: center;
	position: relative;
}

@media only screen and (max-width: 768px) {
	.swap_widget {
		max-width: 448px;
	}
}

@media only screen and (max-width: 576px) {
	.swap_widget {
		max-width: 332px;
	}
}
