.badge {
	display: flex;
	align-items: center;
	height: fit-content;
	width: fit-content;
}

.badge_img {
	border-radius: var(--space-2);
	width: 24px;
	height: 24px;
}

.badge_xs {
	width: var(--space-3);
	height: var(--space-3);
}

.badge_s {
	width: var(--space-4);
	height: var(--space-4);
}

.badge_m {
	width: var(--space-5);
	height: var(--space-5);
}

.badge_l {
	width: var(--space-6);
	height: var(--space-6);
}

.badge_xl {
	width: var(--space-7);
	height: var(--space-7);
}
