@import './variables.css';

*,
*::before,
*::after {
	box-sizing: border-box;
}

html {
	-moz-text-size-adjust: none;
	-webkit-text-size-adjust: none;
	text-size-adjust: none;
}

ul[role='list'],
ol[role='list'] {
	list-style: none;
}

body {
	min-height: 100vh;
	padding: 0;
	margin: 0;
}

main {
	display: flex;
	flex-direction: column;
	width: 100%;
	height: calc(100vh - var(--header-height));
}

h1,
h2,
h3,
h4 {
	text-wrap: balance;
}

a:not([class]) {
	text-decoration-skip-ink: auto;
	color: currentColor;
}

img,
picture {
	max-width: 100%;
	display: block;
}

input,
button,
textarea,
select {
	font-family: inherit;
	font-size: inherit;
}
