@import './variables.css';

*,
*::before,
*::after {
	box-sizing: border-box;
}

html {
	-moz-text-size-adjust: none;
	-webkit-text-size-adjust: none;
	text-size-adjust: none;
	font-family: var(--font-family-primary);
}

ul[role='list'],
ol[role='list'] {
	list-style: none;
}

body {
	padding: 0;
	margin: 0;
	height: calc(100vh - var(--header-height) - var(--footer-height));
}

main {
	display: flex;
	flex-direction: column;
	width: 100%;
	overflow: hidden;
	flex-grow: 1;
}

h1,
h2,
h3,
h4 {
	text-wrap: balance;
}

h1,
h2,
h3,
h4,
h5,
p {
	margin: 0;
}

a:not([class]) {
	text-decoration-skip-ink: auto;
	color: currentColor;
}

input,
button,
textarea,
select {
	font-family: inherit;
	font-size: inherit;
}
