:root {
	--font-family-primary: 'DM_Sans', sans-serif;
	--header-height: 48px;
	--footer-height: 72px;

	--space-1: 4px; /* space-0.25 */
	--space-2: 8px; /* space-0.5 */
	--space-3: 12px; /* space-0.75 */
	--space-4: 16px; /* space-1 */
	--space-5: 24px; /* space-1.5 */
	--space-6: 32px; /* space-2 */
	--space-7: 40px; /* space-2.5 */
	--space-8: 48px; /* space-3 */
	--space-9: 64px; /* space-4 */
	--space-10: 96px; /* space-6 */
	--space-11: 128px; /* space-8 */

	--white: #fcfcfd;
	--black: #101828;
	--color-discord: #5865f2;
	--color-discord-dark: #5925e6;

	--color-gray-25: #fcfcfd;
	--color-gray-50: #f3f5f6;
	--color-gray-100: #eceff0;
	--color-gray-200: #d2d8db;
	--color-gray-300: #bcc5c9;
	--color-gray-400: #a2aeb3;
	--color-gray-500: #88939d;
	--color-gray-600: #66767d;
	--color-gray-700: #4b575c;
	--color-gray-800: #313c41;
	--color-gray-900: #1a2022;

	/* color success */
	--color-success-25: #e9fcf2;
	--color-success-50: #dafbea;
	--color-success-100: #c5f8dd;
	--color-success-200: #75eeaf;
	--color-success-300: #42de8c;
	--color-success-400: #22c474;
	--color-success-500: #1da562;
	--color-success-600: #17854f;
	--color-success-700: #11633b;
	--color-success-800: #0c4228;
	--color-success-900: #062416;

	--color-warning-25: #fff7e6;
	--color-warning-50: #fff2d6;
	--color-warning-100: #ffeabc;
	--color-warning-200: #ffd16e;
	--color-warning-300: #ffb71c;
	--color-warning-400: #e79e00;
	--color-warning-500: #c38500;
	--color-warning-600: #9b6a00;
	--color-warning-700: #755000;
	--color-warning-800: #4d3500;
	--color-warning-900: #291c00;

	--color-danger-25: #fef7f7;
	--color-danger-50: #feefef;
	--color-danger-100: #fde8e8;
	--color-danger-200: #fccccc;
	--color-danger-300: #fbb1b1;
	--color-danger-400: #f98d8d;
	--color-danger-500: #f75e5e;
	--color-danger-600: #e80c0c;
	--color-danger-700: #b10909;
	--color-danger-800: #780606;
	--color-danger-900: #6f0d06;
}
