.screen_loader {
	width: 100%;
	height: calc(100% - var(--header-height) - var(--footer-height));
	flex-grow: 1;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: linear-gradient(180deg, var(--color-gray-25) 0%, var(--color-gray-50) 70.12%);
}
