.faucet_modal {
	display: flex;
	max-width: 394px !important;
	width: 100%;
	min-height: 346px !important;
	flex-direction: column;
	align-items: flex-start;
	gap: var(--space-4);
	flex-shrink: 0;
	border-radius: var(--space-5);
	background-color: var(--color-gray-25);
}

.faucet_modal_grid {
	display: grid;
	width: 100%;
	grid-template-columns: repeat(3, 1fr);
	gap: var(--sp-md);
	align-items: center;
	justify-items: center;
}
