.chain {
	display: flex;
	flex-direction: column;
	width: 96px;
	padding: var(--space-2);
	align-items: center;
	gap: var(--space-1);
	border-radius: var(--space-4);
	cursor: pointer;
	transition: 300ms ease-in;
}

.chain_logo {
	display: flex;
	width: 40px;
	height: 40px;
	align-items: center;
	gap: 10px;
	border-radius: var(--space-3);
}

.chain_name {
	text-align: center;
	font-size: 0.875rem;
	font-weight: 400;
	line-height: 1.25rem;
	color: var(--color-gray-600);
}
