.home-header,
.swap-header {
	display: flex;
	padding: var(--space-2) var(--space-8);
	align-self: stretch;
	background: var(--color-grey-25);
}

.home-header {
	justify-content: center;
}

.swap-header {
	justify-content: space-between;
}
